@{
  Layout = "_Layout";
}

<center><font face = "impact" size="6" color="red"> This word appears <font size = "8" color = "black"><em> @Model times </em></font>  in this phrase.</font>
<br>
<button class="btn btn-primary" type='submit' class='btn'><a href="/"><font color="black">Check another phrase</a></button>
</center>
