@{
  Layout = "_Layout";
}

<center><font face = "impact" size="8" color="grey">Count your duplicate words!</font>
  <br>
<font size="5" color="red">Type in a sentence and select a word to be counted.</font>

<form action="/new" method="post">
  <div class='form-group'>
    <label for="sentence"><font size="5" color="red">Your phrase: </font></label>
    <input type="text" name="sentence">
  </div>
  <div class='form-group'>
    <label for="word"><font size="5" color="white"> Keyword: </font></label>
    <input type="text" name="word">
  </div>
  <br>
  <button type='submit' class='btn'>Click to Check your phrase</button>
</form>
</div>
</center>
